<div class="uk-card uk-card-default">
  <div class="uk-card-media-top">
    <img src="{{this.picPath}}" alt="img" width="375">
  </div>
  <div class="uk-card-body uk-height-small uk-padding-small">
    <div class="uk-flex-inline">
      <h4 class="uk-card-title" id="coral">{{this.titlee}}</h4>
      <div class="uk-align-right">
        {{#if this.canUpdate}}
        <a href="" uk-toggle="target: #new-notice" uk-icon=" icon: file-edit" uk-tooltip="Edit"></a>
        <a href="/main/{{this._id}}/delete" uk-icon="icon: trash" uk-tooltip="Delete"></a>
        {{/if}}
      </div>
    </div>
    <p>{{this.description}}</p>
  </div>
</div>