<h1>new group form</h1>
<form {{#if _id}} action="/main/{{_id}}/editG" {{else}} action="/main/newGroup" {{/if}} method="POST"
  enctype="multipart/form-data">
  <div>
    <label for="">
      Title:
      <input class="uk-input uk-form-width-medium uk-form-small" type="text" name="title" value="{{title}}">
    </label>
  </div><br>
  <div>
    <label for="">
      Students:
      <textarea class="uk-textarea" name="alumni" id="" cols="30" rows="3">{{alumni}}</textarea>
    </label>
  </div><br>
  <button class="uk-button uk-button-default" type="submit">Submit</button>
</form>