<div class="uk-card uk-carduk-grid-collapse uk-child-width-1-2@s uk-margin-large-top uk-margin-large-bottom" uk-grid>
  <div class="uk-card-media-left uk-cover-container">
    <img class="uk-position-center-right" width="600" height="400" src="../images/utilities.png" alt="utilities">
    <canvas width="500" height="400"></canvas>
  </div>
  <div>
    <div class="uk-card-body" width="300">
      <h2 class="uk-margin-large-top">ABOUT US</h2>
      <h4>
        We are an application in which schools can send <br> information, academic follow-ups and grades <br>
        through graphics to parents and students.</h4>
    </div>
  </div>
</div>
<div>
  <div class="uk-flex uk-flex-row uk-flex-around">
    <div>
      <img src="../images/student.svg" alt="alumno" width="65">
      <p>Students control</p>
    </div>
    <div>
      <img src="../images/clock.svg" alt="clock" width="65">
      <p>Reduces time</p>
    </div>
    <div>
      <img src="../images/eco.svg" alt="eco" width="65">
      <p>Paperless</p>
    </div>
    <div>
      <img src="../images/graph.png" alt="graph" width="65">
      <p>Visual data</p>
    </div>
    <div>
      <img src="../images/tech.svg" alt="tech" width="65">
      <p>Technological</p>
    </div>
  </div>
</div>