<h1>vista de manager</h1>
{{#each groups}}
{{> groupCard this}}

<div class="col">
  <div>
    <h2>Filters</h2>
    From: <input id="initialDate" type="date">
    To: <input id="finalDate" type="date"><br><br>
    <select class="form-control" id="currency" onchange="graph(event);">
      <option value="USD">US Dollar</option>
      <option value="EUR">EURO</option>
    </select>
    <button id="submitDate">Submit</button>
  </div>
  <div>
    <h2>Values</h2>
    <p id="max">Max: <span id="max-price"></span></p>
    <p id="min">Min: <span id="min-price"></span></p>
  </div>
</div>
<canvas class="uk-margin" id="chart" height="350"></canvas>

{{/each}}