<h1>vista del manager</h1>
<h2>grupos, gráficas, etc</h2>
<ul>
  {{#each groups as |usr|}}
  <li>
    {{usr.title}} <br> {{usr.alumni}} <br>
  {{#if usr.canUpdate}}
    <div>
      <a href="/manager/{{usr._id}}/edit" uk-icon="icon: pencil"></a>
      <a href="/manager/{{usr._id}}/delete" uk-icon="icon: trash"></a>
    </div> <br>
    {{/if}}
  </li><br>
  {{/each}}
</ul>