<h1>vista de teacher</h1>
<form action="Calificaciones" method="POST">Qualification
    <div>
        <label for="">Materia
            <input type="text" name="name">
        </label>
    </div>
    <div>
        <label for="">Calificacion
            <input type="number" name="">
        </label>
    </div>
    <div>
        <label for="">Asistencia
            <input type="checkbox" name="YES">
        </label>

    </div>
    <div>
        
    </div>
    <button type="Agregar">Agregar</button>
</form>